# Telegram Bot Token (get it via @BotFather on Telegram)
BOT_TOKEN=your_token_here

# Your Telegram User ID (for exclusive authorization, get it with the /id command to the bot or via @userinfobot)
AUTHORIZED_USER_ID=your_user_id_here
